[Dd]ebug/
[Rr]elease/
build/
[Bb]in/
[Oo]bj/
*.suo
*.sln.cache 
*.user
TestResults/
*.tmp
*.orig
*[Rr]e[Ss]harper.user
_ReSharper.*/
*StyleCop.Cache
.DS_Store
Thumbs.db
__MACOSX/
.sass-cache/
/bin
/Bin
.bin/
.Bin/
App_Browsers/
*/App_Data/courier/
*/App_Data/preview/
*/App_Data/TEMP/
*/App_Data/umbraco.config
[Cc]ached/
ClientDependency/
ExamineIndexes/

WebUI/media/*
WebUI/App_Data/umbraco.config
WebUI/App_Data/preview/
WebUI/App_Data/TEMP/
WebUI/App_Data/ClientDependency/
WebUI/App_Data/Logs/
WebUI/App_Data/FeedCache/
WebUI/App_Data/courier/
WebUI/App_Data/umbraco.licensing.log.txt
WebUI/aspnet_client/
WebUI/App_Data/*.udt
WebUI/temp/*

# Generated
WebUI/node_modules/
WebUI/.sass-cache/
WebUI/dotnet/Boilerplate/Content/

# CSS
WebUI/src/styles/css/
WebUI/dist/styles/css/

# JavaScript
Website/dist/
Website/src/scripts/modernizr.js
