<!DOCTYPE html>
<html>
<head>
    <title>Content Package</title>

    <script src="/umbraco_client/Application/NamespaceManager.js?cdv=3" type="text/javascript"></script>
    <script src="/umbraco_client/ui/jquery.js?cdv=3" type="text/javascript"></script>
    <script src="/umbraco_client/ui/jqueryui.js?cdv=3" type="text/javascript"></script>
    <script src="/umbraco_client/Application/jQuery/jquery.cookie.js?cdv=3" type="text/javascript"></script>
    <script src="/umbraco_client/ui/base2.js?cdv=3" type="text/javascript"></script>
    <script src="/umbraco_client/Application/UmbracoApplicationActions.js?cdv=3" type="text/javascript"></script>
    <script src="/umbraco_client/Application/UmbracoUtils.js?cdv=3" type="text/javascript"></script>
    <script src="/umbraco_client/Application/UmbracoClientManager.js?cdv=3" type="text/javascript"></script>
    <script src="/umbraco_client/modal/modal.js?cdv=3" type="text/javascript"></script>
    <script src="/umbraco_client/ui/default.js?cdv=3" type="text/javascript"></script>
    <script src="/umbraco_client/Application/jQuery/jquery.hotkeys.js?cdv=3" type="text/javascript"></script>
    <script src="/umbraco_client/scrollingmenu/javascript.js?cdv=3" type="text/javascript"></script>
    <script src="/umbraco_client/DateTimePicker/timepicker.js?cdv=3" type="text/javascript"></script>
    <script src="/umbraco_client/MaskedInput/jquery.maskedinput-1.3.min.js?cdv=3" type="text/javascript"></script>
    <script src="/umbraco_client/DateTimePicker/umbDateTimePicker.js?cdv=3" type="text/javascript"></script>
    <script src="/umbraco_client/tabview/javascript.js?cdv=3" type="text/javascript"></script>
    <script src="/umbraco/js/umbracoCheckKeys.js?cdv=3" type="text/javascript"></script>

    <link href="/umbraco_client/ui/default.css" rel="stylesheet" />
    <link href="/umbraco_client/menuicon/style.css" rel="stylesheet" />
    <link href="/umbraco_client/panel/style.css" rel="stylesheet" />
    <link href="/umbraco_client/propertypane/style.css" rel="stylesheet" />
    <link href="/umbraco_client/scrollingmenu/style.css" rel="stylesheet" />
    <link href="/umbraco_client/DateTimePicker/datetimepicker.css?cdv=3" type="text/css" rel="stylesheet" />

    @if (IsSectionDefined("PageHeader"))
    {
        @RenderSection("PageHeader", false)
    }

</head>
<body>

    <div id="body_UmbracoPanel" class="panel" style="width:100%;">
        <div class="boxhead">
            <h2 id="body_UmbracoPanelLabel">Content Package</h2>
        </div>
        @RenderBody()
    </div>
    <div class="boxfooter">
        <div class="statusBar">
        </div>
    </div>
    @if (IsSectionDefined("PageScript"))
    {
        @RenderSection("PageScript", false)
    }
</body>
</html>
