@model AST.ContentPackagev7.Models.TestModel
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @Model.StringOne
    </div>
</body>
</html>
