<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT article ANY>
<!ATTLIST article id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>

]>
<root id="-1">
  <homePage id="1191" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2014-09-05T16:32:40" updateDate="2014-09-05T16:33:43" nodeName="something else" urlName="something-else" path="-1,1191" isDoc="" nodeType="1056" creatorName="admin" writerName="admin" writerID="0" template="1055" nodeTypeAlias="homePage">
    <headerText>test header</headerText>
    <bodyText><![CDATA[<p>test body text</p>]]></bodyText>
    <image>1195</image>
    <myFlag>1</myFlag>
    <mNTP><![CDATA[1195]]></mNTP>
    <mntpContnet><![CDATA[1193]]></mntpContnet>
    <contentPicker>1193</contentPicker>
  </homePage>
  <article id="1193" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2014-09-05T16:32:40" updateDate="2014-09-05T16:33:43" nodeName="a1" urlName="a1" path="-1,1193" isDoc="" nodeType="1060" creatorName="admin" writerName="admin" writerID="0" template="1059" nodeTypeAlias="article">
    <headerText />
    <bodyText><![CDATA[]]></bodyText>
    <date />
  </article>
</root>