<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT article ANY>
<!ATTLIST article id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>

]>
<root id="-1">
  <homePage id="1079" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2014-07-10T13:24:49" updateDate="2014-07-23T18:20:53" nodeName="something else" urlName="something-else" path="-1,1079" isDoc="" nodeType="1056" creatorName="admin" writerName="admin" writerID="0" template="1055" nodeTypeAlias="homePage">
    <headerText>test header</headerText>
    <bodyText><![CDATA[<p>test body text</p>]]></bodyText>
    <image>1157</image>
    <myFlag>1</myFlag>
    <mNTP><![CDATA[]]></mNTP>
    <mntpContnet><![CDATA[]]></mntpContnet>
    <contentPicker />
  </homePage>
  <homePage id="1154" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2014-07-23T18:20:53" updateDate="2014-07-23T18:20:53" nodeName="h (1)" urlName="h-(1)" path="-1,1154" isDoc="" nodeType="1056" creatorName="admin" writerName="admin" writerID="0" template="1055" nodeTypeAlias="homePage">
    <article id="1155" parentID="1154" level="2" creatorID="0" sortOrder="0" createDate="2014-07-23T18:20:53" updateDate="2014-07-23T18:20:53" nodeName="article one" urlName="article-one" path="-1,1154,1155" isDoc="" nodeType="1060" creatorName="admin" writerName="admin" writerID="0" template="1059" nodeTypeAlias="article">
      <headerText>a 1 header</headerText>
      <bodyText><![CDATA[<p>a 1 body</p>]]></bodyText>
      <date>2014-12-31T09:30:00</date>
    </article>
    <article id="1156" parentID="1154" level="2" creatorID="0" sortOrder="1" createDate="2014-07-23T18:20:53" updateDate="2014-07-23T18:20:53" nodeName="artcile 2" urlName="artcile-2" path="-1,1154,1156" isDoc="" nodeType="1060" creatorName="admin" writerName="admin" writerID="0" template="1059" nodeTypeAlias="article">
      <headerText>a 2 header</headerText>
      <bodyText><![CDATA[<p>a2 body with <strong>bold</strong></p>]]></bodyText>
      <date />
    </article>
    <headerText>test header</headerText>
    <bodyText><![CDATA[<p>test body text</p>]]></bodyText>
    <image />
    <myFlag>1</myFlag>
    <mNTP><![CDATA[]]></mNTP>
    <mntpContnet><![CDATA[1155,1156]]></mntpContnet>
    <contentPicker>1079</contentPicker>
  </homePage>
</root>