<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT article ANY>
<!ATTLIST article id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>

]>
<root id="-1">
  <homePage id="1079" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2014-07-10T13:24:49" updateDate="2014-07-10T15:53:57" nodeName="h" urlName="h" path="-1,1079" isDoc="" nodeType="1056" creatorName="admin" writerName="admin" writerID="0" template="1055" nodeTypeAlias="homePage">
    <headerText>1234</headerText>
    <bodyText><![CDATA[<p>asdfdasfsfasdffads</p>]]></bodyText>
    <image />
    <myFlag>0</myFlag>
  </homePage>
  <homePage id="1080" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2014-07-10T13:24:56" updateDate="2014-07-10T14:00:28" nodeName="home page" urlName="home-page" path="-1,1080" isDoc="" nodeType="1056" creatorName="admin" writerName="admin" writerID="0" template="1055" nodeTypeAlias="homePage">
    <headerText>my header text</headerText>
    <bodyText><![CDATA[<p>this is body text</p>]]></bodyText>
    <image>1057</image>
    <myFlag>1</myFlag>
    <article id="1081" parentID="1080" level="2" creatorID="0" sortOrder="0" createDate="2014-07-10T13:24:56" updateDate="2014-07-10T14:01:11" nodeName="page 1" urlName="page-1" path="-1,1080,1081" isDoc="" nodeType="1060" creatorName="admin" writerName="admin" writerID="0" template="1059" nodeTypeAlias="article">
      <headerText>header text</headerText>
      <bodyText><![CDATA[<p>body</p>]]></bodyText>
      <date>2014-07-10T18:00:00</date>
    </article>
    <article id="1082" parentID="1080" level="2" creatorID="0" sortOrder="1" createDate="2014-07-10T13:24:56" updateDate="2014-07-10T14:01:20" nodeName="OMG this is so cool" urlName="omg-this-is-so-cool" path="-1,1080,1082" isDoc="" nodeType="1060" creatorName="admin" writerName="admin" writerID="0" template="1059" nodeTypeAlias="article">
      <headerText>header text for OMG</headerText>
      <bodyText><![CDATA[<p>body  test x dsla x s </p>]]></bodyText>
      <date>2014-07-08T14:00:00</date>
    </article>
  </homePage>
</root>