<?xml version="1.0" encoding="utf-8"?>
<DataTypes>

  <SpecialDataTypes>

    <DataType guid="ead69342-f06d-4253-83ac-28000225583b" type="AST.ContentPackage.MediaPickerDataTypeConverter, AST.ContentPackage" />
    <DataType guid="7e062c13-7c41-4ad9-b389-41d88aeef87c" type="AST.ContentPackage.MultiNodeTreePickerDataTypeConverter, AST.ContentPackage" />
    <DataType guid="158aa029-24ed-4948-939e-c3da209e5fba" type="AST.ContentPackage.ContentPickerDataTypeConverter, AST.ContentPackage" />
    <DataType guid="a74ea9c9-8e18-4d2a-8cf6-73c6206c5da6" type="AST.ContentPackage.DropdownListDataTypeConverter, AST.ContentPackage" />
    <DataType guid="5e9b75ae-face-41c8-b47e-5f4b0fd82f83" type="AST.ContentPackage.RichTextEditorDataTypeConverter, AST.ContentPackage" />

    <!-- IN ORDER TO USE THE BELOW DATA TYPES CONVERTER, PLEASE DOWNLOAD THE DLL FIRST. -->


    <!--<DataType guid="ef94c406-9e83-4058-a780-0375624ba7ca" type="AST.ContentPackage.Damp.DampDataTypeConverter, AST.ContentPackage.Damp" />
    <DataType guid="454545ab-1234-4321-abcd-1234567890ab" type="AST.ContentPackage.EmbeddedContent.EmbeddedContentDataTypeConverter, AST.ContentPackage.EmbeddedContent" />
    <DataType guid="22c6f52c-5d41-45b8-845e-c16354cfdd7b" type="AST.ContentPackage.UrlPicker.UrlPickerDataTypeConverter, AST.ContentPackage.UrlPicker" />-->


  </SpecialDataTypes>

  <OtherDataTypes>

    <DataType guid="f8d60f68-ec59-4974-b43b-c46eb5677985" name="Approved Color"/>
    <DataType guid="b6fb1622-afa5-4bbf-a3cc-d9672a442222" name="Date Picker with time"/>
    <DataType guid="23e93522-3200-44e2-9f29-e61a6fcbb79a" name="Date Picker"/>
    <DataType guid="7a2d436c-34c2-410f-898f-4a23b3d79f54" name="Image Cropper"/>
    <DataType guid="ec15c1e5-9d90-422a-aa52-4f7622c63bea" name="Textbox"/>
    <DataType guid="67db8357-ef57-493e-91ac-936d305e0f2a" name="Textbox multiple"/>
    <DataType guid="5359ad0b-06cc-4182-92bd-0a9117448d3f" name="Multiple Textstring"/>
    <DataType guid="38b352c1-e9f8-4fd8-9324-9a2eab06d97a" name="True/False (Ja/Nej)"/>
    <DataType guid="d15e1281-e456-4b24-aa86-1dda3e4299d5" name="Umbraco Usercontrol Wrapper"/>

  </OtherDataTypes>

</DataTypes>
