@inherits UmbracoTemplatePage

<!-- Generic -->
<article class="container box style3">
    <header>
        <h2>@CurrentPage.Title</h2>
        <p>@CurrentPage.SubTitle</p>
    </header>
    @CurrentPage.BodyText
</article>