<?xml version="1.0" encoding="utf-8"?>
<DataTypes>
  <DataType guid="ead69342-f06d-4253-83ac-28000225583b" type="WebUI.Infrastructure.MediaPickerDataTypeConverter" />
  <DataType guid="7e062c13-7c41-4ad9-b389-41d88aeef87c" type="WebUI.Infrastructure.MultiNodeTreePickerDataTypeConverter" />
  <DataType guid="158aa029-24ed-4948-939e-c3da209e5fba" type="WebUI.Infrastructure.ContentPickerDataTypeConverter" />
</DataTypes>