<?xml version="1.0" encoding="utf-8"?>
<trees>
  <add silent="false" initialize="true" sortOrder="2" alias="partialViews" application="settings" title="Partial Views" iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" type="Umbraco.Web.Trees.PartialViewsTree, umbraco" action="" />
  <add silent="false" initialize="true" sortOrder="6" alias="partialViewMacros" application="developer" title="Partial View Macro Files" iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" type="Umbraco.Web.Trees.PartialViewMacrosTree, umbraco" action="" />
  <add silent="false" initialize="true" sortOrder="4" alias="relationTypes" application="developer" title="Relation Types" iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" type="umbraco.loadRelationTypes, umbraco" action="" />
  <add silent="false" initialize="false" sortOrder="0" alias="mediaRecycleBin" application="media" title="Recycle Bin" iconClosed="folder.gif" iconOpen="folder_o.gif" type="umbraco.cms.presentation.Trees.MediaRecycleBin, umbraco" action="" />
  <add silent="false" initialize="false" sortOrder="0" alias="contentRecycleBin" application="content" title="Recycle Bin" iconClosed="folder.gif" iconOpen="folder_o.gif" type="umbraco.cms.presentation.Trees.ContentRecycleBin, umbraco" action="" />
  <add silent="false" initialize="true" sortOrder="3" alias="packager" application="developer" title="Packages" iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" type="umbraco.loadPackager, umbraco" action="" />
  <add silent="true" initialize="true" sortOrder="0" alias="content" application="content" title="Content" iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" type="umbraco.loadContent, umbraco" action="" />
  <add silent="false" initialize="true" sortOrder="1" alias="datatype" application="developer" title="Data Types" iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" type="umbraco.loadDataTypes, umbraco" action="" />
  <add silent="false" initialize="true" sortOrder="3" alias="dictionary" application="settings" title="Dictionary" iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" type="umbraco.loadDictionary, umbraco" action="openDictionary()" />
  <add silent="false" initialize="true" sortOrder="4" alias="languages" application="settings" title="Languages" iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" type="umbraco.loadLanguages, umbraco" action="" />
  <add silent="false" initialize="true" sortOrder="2" alias="macros" application="developer" title="Macros" iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" type="umbraco.loadMacros, umbraco" action="" />
  <add silent="false" initialize="true" sortOrder="0" alias="media" application="media" title="Media" iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" type="umbraco.loadMedia, umbraco" action="" />
  <add silent="false" initialize="true" sortOrder="5" alias="mediaTypes" application="settings" title="Media Types" iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" type="umbraco.loadMediaTypes, umbraco" action="" />
  <add silent="false" initialize="true" sortOrder="1" alias="memberGroup" application="member" title="Member Groups" iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" type="umbraco.loadMemberGroups, umbraco" action="" />
  <add silent="false" initialize="true" sortOrder="0" alias="member" application="member" title="Members" iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" type="umbraco.loadMembers, umbraco" action="" />
  <add silent="false" initialize="true" sortOrder="2" alias="memberType" application="member" title="Member Types" iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" type="umbraco.loadMemberTypes, umbraco" action="" />
  <add silent="false" initialize="true" sortOrder="6" alias="nodeTypes" application="settings" title="Document Types" iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" type="umbraco.loadNodeTypes, umbraco" action="" />
  <add silent="false" initialize="false" sortOrder="1" alias="packagerPackages" application="developer" title="Packager Packages" iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" type="umbraco.loadPackages, umbraco" action="" />
  <add silent="false" initialize="true" sortOrder="4" alias="python" application="developer" title="Python Files" iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" type="umbraco.loadPython, umbraco" action="" />
  <add silent="false" initialize="true" sortOrder="2" alias="scripts" application="settings" title="Scripts" iconClosed="folder.gif" iconOpen="folder_o.gif" type="umbraco.loadScripts, umbraco" action="" />
  <add silent="false" initialize="false" sortOrder="0" alias="stylesheetProperty" application="settings" title="Stylesheet Property" iconClosed="" iconOpen="" type="umbraco.loadStylesheetProperty, umbraco" action="" />
  <add silent="false" initialize="true" sortOrder="0" alias="stylesheets" application="settings" title="Stylesheets" iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" type="umbraco.loadStylesheets, umbraco" action="" />
  <add silent="false" initialize="true" sortOrder="1" alias="templates" application="settings" title="Templates" iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" type="umbraco.loadTemplates, umbraco" action="" />
  <add silent="false" initialize="true" sortOrder="0" alias="users" application="users" title="Users" iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" type="umbraco.loadUsers, umbraco" action="" />
  <add silent="false" initialize="true" sortOrder="5" alias="xslt" application="developer" title="XSLT Files" iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" type="umbraco.loadXslt, umbraco" action="" />
  <add silent="false" initialize="true" sortOrder="2" alias="userPermissions" application="users" title="User Permissions" iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" type="umbraco.cms.presentation.Trees.UserPermissions, umbraco" action="" />
  <add silent="false" initialize="true" sortOrder="1" alias="userTypes" application="users" title="User Types" iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" type="umbraco.cms.presentation.Trees.UserTypes, umbraco" action="" />
  <add silent="false" initialize="true" sortOrder="0" alias="ContentPacakgeTree" application="ContentPackage" title="Import Export" iconClosed=".sprTreeFolder" iconOpen=".sprTreeFolder_o" type="AST.ContentPackage.ContentPackageTree, AST.ContentPackage" action="" />
</trees>